:root{
 --primary-light-cyan: hsl(193, 38%, 86%);
 --primary-neon-green: hsl(150, 100%, 66%);
--neutral-grayish-blue: hsl(217, 19%, 38%);
--neutral-dark-grayish-blue: hsl(217, 19%, 24%);
--neutral-dark-blue: hsl(218, 23%, 16%);
}

body{
    background-color: var(--neutral-dark-blue);
    font-family: 'Manrope', sans-serif; 
}

body,main{
    display: flex;
    flex-direction: column;
    align-items: center;
}


main{
    width: 85%;
    max-width: 450px;
    background-color: var(--neutral-dark-grayish-blue);
    border-radius: 10px;
    height: fit-content;
    margin: 5em;
    padding:1.4em;
  }

  main > *{
    margin: 0;
  }

h1{
    font-size: 0.9rem;
    color: var(--primary-neon-green);
    letter-spacing:0.2em;
    text-transform:uppercase;
   
}

h2{
    font-size:1.75rem;
    font-weight: 800;
    color: var(--neutral-grayish-blue);
    text-align: center;
    margin:1em;
}



#diceiconbutton{
    display: flex;
    width: 50px;
    height: 50px;
    background-color: var(--primary-neon-green);
    border: var(--neutral-grayish-blue);
    border-radius: 50%;
    position:relative;
    top:46px;
    box-sizing: content-box;
    transition: border 200ms cubic-bezier(0.165, 0.84, 0.44, 1); 
  }

  #diceiconbutton:hover{
    cursor: pointer;
    box-shadow: 0 0 20px var(--primary-neon-green);
  }

.diceicon{
    margin: auto;
}

/* https://github.com/PapsPython/advice-generator-app.git */

